<div class="jumbotron">
  <div class="container">
    <h1>
      Portfolio Generator
    </h1>
    <p>Showcase your work in a well-crafted, public portfolio.
      </br>
      Simpy create an account, upload your projects, and show the world.
    </p>
    <%= link_to "Register Now", new_user_registration_path, class: "btn btn-primary" %>
  </div>
</div>
<div class="container">
  <article class="row">
    <section class="col-md-4 info">
      <h1><span class="glyphicon glyphicon-folder-open"></span></h1>
      <h3>Start Your Portfolio</h3>
      <p>
        After registering for an account, you will begin working on your portfolio by providing a small bio about yourself.
      </p>
    </section>
    <section class="col-md-4 info">
      <h1><span class="glyphicon glyphicon-cloud-upload"></span></h1>
      <h3>Add Projects</h3>
      <p>
        Upload an image and add relevant information about all of your projects by filling out a simple form for each one.
      </p>
    </section>
    <section class="col-md-4 info">
      <h1><span class="glyphicon glyphicon-tags"></span></h1>
      <h3>Tag Your Skills</h3>
      <p>
        Complete your portfolio by adding tags for the skills you possess and technologies you work with. These tags are searchable so other users may search for portfolios by skillset.
      </p>
    </section>
  </article>
</div>
