/*
*= require 'bootstrap-sass-official'
*= require_self
*/

body {
  background-color: rgb(43,62,101);
  color: rgb(255, 240, 230);
}

section.container-fluid.portfolio-banner {
  background: rgb(245,158,41);
  padding-top: 50px;
  padding-bottom: 50px;
}

.jumbotron {
  background-color: rgba(255,255,255,0.3);
  color: rgb(70,95,150);
}
.jumbotron h1 {
  font-size: 6rem;
}

.label.label-primary {
  color: rgb(255, 240, 230);
  margin-left: 1rem;
}
div.bio-skills {
  text-align: center;
  position: relative;
  top: 6rem;
}
h2.portfolio-bio {
  color: rgb(70,95,150);
  font-size: 4rem;
}
section.container.projects {
  margin-top: 50px;
}
div.row.project-window {
  height: 550px;
  border: 1rem solid rgba(70,95,150,0.7);
  margin-bottom: 50px;
  margin-top: 50px;
  background-color: rgb(120,150,190);

}

.project-list {
  height: 100%;
  background: rgb(245,158,41);
  padding: 0px;
  overflow-y: auto;
}

a.project-list-item {
  font-size:x-large;
  text-align: center;
  position: relative;
  display: block;
  padding: 25px 20px;
  margin-bottom: -1px;
  background: rgb(245,158,41);
  border: 1px solid #ddd;
  text-decoration: none;

}
a.project-list-item:hover {
  background-color: rgb(236,136,0);
  cursor: pointer;
}

.form-control {
  background-color: rgb(255, 240, 230);
}

div.project-content {
  padding: 5rem 5rem;
  overflow-y: auto;
  color: rgb(50,50,25);
}
div.project-content p {
  font-size: 1.7rem;
  text-align: justify;
  padding: 0rem 3rem;
}
section.project-title {
  margin-bottom: 3rem;
  text-align: justify;
}
section.project-title h1 {
  font-size: 5rem;
  margin-top: 3rem;
}
section.project-title h4 {
  font-size: 1.9rem;
}

div.blocky {
  margin-top: 15px;
  margin-right: 15px;
  height: 150px;
  width: 150px;
  background-color: #AAAAAA;
}
