<div class="flash">
  <% if notice.present? %>
    <aside class="alert alert-info">
      <%= notice %>
      <button type="button" class="close alert-close">&times;</button>
    </aside>
  <% elsif alert.present? %>
    <aside class="alert alert-danger">
      <%= alert %>
      <button type="button" class="close alert-close">&times;</button>
    </aside>
  <% end %>
  <script type="text/javascript">
    (function () {
      var alertCloseElems = document.getElementsByClassName("alert-close");
      if (alertCloseElems !== []){
        for (var i = 0; i < alertCloseElems.length; i++) {
          alertCloseElems[i].addEventListener("click", function () {
            var elemToRemove = this.parentElement;
            elemToRemove.parentElement.removeChild(elemToRemove);
          });
        }
      }
    })();
  </script>
</div>
